<div>
<ul class="nav desktop">

    <li class="nav-item">
        <a class="nav-link active" href="{{ path('tricks_index') }}">home</a>
    </li>

    {% if not app.user %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_register') }}">register</a>
    </li
    {% else %}
    <li class="nav-item">
       <a class="nav-link" href="{{ path('tricks_new') }}"> Add tricks</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">logout</a>
    </li>
    {% endif %}



</ul>

</div>

<div>

<ul class="nav mobile">

    <li class="nav-item">
        <a class="nav-link active" href="{{ path('tricks_index') }}"><img src="{{ asset('img/noun_Home.svg') }}" alt="home"></a>
    </li>

    {% if not app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}"><img src="{{ asset('img/noun_Login.svg') }}" alt="login"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}"><img src="{{ asset('img/noun_register.svg') }}" alt="register"></a>
        </li
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('tricks_new') }}"><img src="{{ asset('img/noun_add.svg') }}" alt="add"></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}"><img src="{{ asset('img/noun_logout.svg') }}" alt="logout"></a>
        </li>
    {% endif %}



</ul>

</div>