{{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
<br>

    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
<br>
    {{ form_label(form.Category) }}
    {{ form_widget(form.Category) }}
<br>
    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}
<br>
        <ul class="videos" data-prototype="&lt;div&gt;&lt;label class=&quot; required&quot;&gt;__filename__&lt;/label&gt;&lt;div id=&quot;tricks_videos___filename__&quot;&gt;&lt;div&gt;&lt;label for=&quot;tricks_videos___filename___filename&quot; class=&quot; required&quot;&gt;filename&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;tricks_videos___filename___filename&quot; name=&quot;tricks[videos][__filename__][filename]&quot; required=&quot;required&quot; maxlength=&quot;255&quot; /&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;">

        </ul>

    {{ form_widget(form.videos) }}


<button class="btn">{{ button_label|default('Save') }}</button>



{{ form_end(form) }}
