{% extends 'base.html.twig' %}

{% block title %}Tricks index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="img-beandeau" >
        <h1>Tricks index</h1>
        <a href="#tricks"><i class="fas fa-arrow-down"></i></a>
    </div>


    <div class="container-tricks" id ="tricks">
        <div class="row">

        {% for trick in tricks %}



        <div class="col-md-55 mb-5 card_{{trick.id}}">

                <div class="card ">
                    <a href="{{ path('tricks_show', {'id': trick.id}) }}">
                    <img class="card-img-top" src="{{ asset('uploads/images/' ~ trick.image) }}" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title">{{ trick.title }}</h5>


                    </div>
                    </a>
                    {% if app.user %}
                    <div class="footer_card">
                            <a class="edit_tricks btn" href="{{ path('tricks_edit', {'id': trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>

                            <button type="button" onclick=" confirmationSuppression({{trick.id}})"  ><i class="fas fa-trash-alt"></i></button>
                    </div>
                    {% endif %}

            </div>
        </div>
        {% else %}

        {% endfor %}
            <div class="d-flex justify-content-center mt-5" id="loadMoreComDiv">
                <div class="card">
                    <a href="#"><div id="loadMoreCom" class="card-body text-center"> <img id="ajax-loading-com" src="{{ asset('img/ajax-loader.gif') }}" alt="Loading" /> Load more</div></a>
                </div>
            </div>

            {# Permet de recuperer la route et le total des tricks pour enelever le bouton load more #}
            <span id="dataComment" data-total="{{ nbTricks }}" data-route="{{ path('more_tricks')}}"></span>

            <div class="col-md-12 container-ancre">
                <a class=" ancre-tricks"href="#tricks"><i class="fas fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
    <a href="{{ path('tricks_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('../assets/js/tricks.js') }}"></script>

    <script>
        function confirmationSuppression(id){
            $.confirm({
                title: "Voulez vous vraiment supprimer le trick ?",
                content: false,
                columnClass: 'col-md-6',
                buttons: {
                    oui: {
                        text: "Oui",
                        btnClass: 'btn-blue',
                        action: function(){

                            $.ajax({

                                url: "{{ path('tricks_delete_ajax') }}",
                                method: 'post',
                                data: {'id': id},
                                success: function (id) {
                                    let id_string = JSON.parse(id);
                                    $(".card_" + id_string).remove();

                                },
                                error: function () {
                                    //appear pop to say error blabla
                                },
                            });
                        }
                    },
                    non: {
                        text: "Non",
                        btnClass: 'btn-danger',
                        close: function(){
                        }
                    }
                }
            });
        }
    </script>

{% endblock %}
