{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}

    <div class="bandeau-image trick">
        <img class="card-img-top" src="{{ asset('uploads/images/' ~ trick.image) }}" alt="Card image cap" >
        <h1 class="titre-trick">{{ trick.title }}</h1>
        <div class="content-btn">
            {{ include('tricks/_delete_form.html.twig') }}
            <a class="btn" href="{{ path('tricks_edit', {'id': trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>
        </div>
    </div>
    

    <div class="container-tricks">
        <div class="row">

            <div class="col-md-12">
                <div class="carousel">

                    <div class="variable-width">
                        {% for video in trick.videos %}

                            <div>
                                <iframe height="100%" width="100%" src="{{ video.filename|raw }}?rel=0" allowfullscreen="" frameborder="0"></iframe>

                            </div>

                        {% endfor %}

                        {% for image in trick.images %}

                            <div>

                                <img class="img-fluid" src="{{ asset('uploads/images/' ~ image.filename) }}" alt="" >
                               

                            </div>

                        {% endfor %}

                    </div>
                    <div class="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>

                </div>

                <p>{{ trick.content }}</p>
               
            </div>
        </div>

    </div>


    <a href="{{ path('tricks_index') }}">back to list</a>



    {{ include('comment/_form.html.twig') }}


    {% for comment in comments %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.comment }}</td>
            <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
                <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}


{% endblock %}
