{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
    

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="card-img-top" src="{{ asset('uploads/images/' ~ trick.image) }}" alt="Card image cap" >
                <td>{{ trick.title }}</td>
            </div>
            <div class="col-md-12">

                <div class="variable-width">
                    {% for video in trick.videos %}

                        <div>
                            <iframe src="{{ video.filename|raw }}?rel=0" allowfullscreen="" frameborder="0"></iframe>

                        </div>

                    {% endfor %}

                    {% for image in trick.images %}

                        <div>

                            <img class="" src="{{ asset('uploads/images/' ~ image.filename) }}" alt="" >

                        </div>

                    {% endfor %}

                </div>


                <p>{{ trick.content }}</p>
               
            </div>
        </div>

    </div>










    <a href="{{ path('tricks_index') }}">back to list</a>

    <a href="{{ path('tricks_edit', {'id': trick.id}) }}">edit</a>

    {{ include('tricks/_delete_form.html.twig') }}
{% endblock %}
